<!DOCTYPE html>
<html lang="en">

    <%- include ('./layout/head.ejs') %>
    <%- include ('./layout/nav.ejs') %>
    

<body>
   <main>
        <section>
            <% fav.forEach(data =>{ %>

                <p>
                    <%=data.name%>
                </p>
                <p>
                    <%=data.house%>
                </p>
                <p>
                    <%=data.patronus%>
                </p>
                <p>
                    <%=data.alive%>
                </p>

                <form action="/character/<%=data.id%>" method="POST">
                 <input type="submit" value="show detalis here">
                </form>
          <%  })%>
        </section>
    </main>
</body>
</html>