<!DOCTYPE html>
<html lang="en">
<%- include ('./layout/head.ejs') %>
<%- include ('./layout/nav.ejs') %>

<body>
    <main>
        <section>
            <%allData.forEach(data =>{%>

                <p>
                    <%=data.name%>
                </p>
                <p>
                    <%=data.house%>
                </p>
                <p>
                    <%=data.patronus%>
                </p>
                <p>
                    <%=data.alive%>
                </p>

                <form action="/save" method="POST">
                    <input type="hidden" name="name" value="<%=data.name%>">
                    <input type="hidden" name="house" value="<%=data.house%>">
                    <input type="hidden" name="patronus" value="<%=data.patronus%>">
                    <input type="hidden" name="alive" value="<%=data.alive%>">
                     <input type="submit" value="favor here">
                </form>
          <%  })%>
        </section>
    </main>
</body>
</html>